# Ignore node_modules directory
node_modules/

# Ignore environment variables
.env

# Ignore DS_Store files (macOS)
.DS_Store

# Ignore log files
*.log

# Ignore build directories
dist/
build/node_modules/
.DS_Store
